<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @restaurants.each do |restaurant| %>
      <div class="name">
        <%= restaurant.name %>
      </div>
      <div class="description">
        <%= restaurant.name %>
      </div>
   <% end %>
  </body>
</html>
