<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <h1> Restaurants </h1>
    <a href='/restaurants/new'>Add Restaurant </a>
    <br>
    <% @restaurants.each do |restaurant| %>
    <ul>
      <div class="name">
        <li><a href="/restaurants/<%=restaurant.id%>"><%= restaurant.name %></a></li>
      </div>
      <div class="description">
        <li><%= restaurant.description %></li>
      </div>
    </ul>
   <% end %>
  </body>
</html>
