<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/restaurants" method="post">
      <input type="text" name="name" placeholder="Enter name">
      <input type="text" name="description" placeholder="Enter description">
      <input type="submit" value="Add">
    </form>
  </body>
</html>
