<%= @what %>

<form>
  <input type='text' name='title' placeholder="Title..."><br />
  <input type='text' name='description' placeholder="Description..."><br />
  <input type='text' name='rating' placeholder="Rating..."><br />
  <input type='submit' value='Submit'>
</form>
